html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  max-width: 700px;
  margin: auto;
}

.field {
  margin-bottom: 0.5em;
}

.field label {
  display: block;
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

.field input {
  padding: 5px;
  width: 200px;
  border: 1px solid #EEE;
  border-radius: 5px;
}

.field.error label {
  color: #F00;
}

.field.error input {
  border-color: #F00;
}

.btn {
  background: #EFF;
  color: #333;
  border-radius: 5px;
  border: 1px solid #09C;
  padding: 5px 10px 7px;
}

.btn:hover, .btn:focus {
  background: #09C;
  color: #FFF;
  cursor: pointer;
}

.btn:disabled {
  background: #EFFFFF;
  color:#888;
  border-color: #EFF;
  cursor: default;
}
